/* default / demo page */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    color: #D0CBD2;
    background-color: #000;
}

body {
    min-height: 1280px;
    font-weight: 300;
}

p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
    font-weight: 300;
}

a,
a:visited,
a:hover {
    color: #f30;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

#intro {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
}

.intro__overline {
    font-size: 1.4rem;
}

.intro__hed {
    font-size: 1.4rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.intro__dek {
    font-size: 1.4rem;
}

#intro {
    margin-bottom: 320px;
}

#outro {
    height: 640px;
}

/* scrollama */

#scroll {
    position: relative;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    width: 79%;
    min-width: 250px;
    bottom: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.chart {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.chart img {
    width: 100%;
}

.caption {
    position: relative;
    transform: translate(-50%, -50%);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #000;
    width: 100%;
}

.caption p {
    text-align: left;
    font-size: 0.9rem;
    color: #00000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.scroll__text {
    position: relative;
    font-size: 3vmin;
    min-width: 100px;
    max-width: 125px;
    width: 15%;
}

.step {
    color: #ffffff;
    border-bottom: 2px solid #000000;
}

.step:last-child {
    border-bottom: 1px solid #333;
}

.step.is-active {
}

.step p {
    font-size: 1.0em;
    text-align: right;
    overflow: visible;
    -webkit-transform: rotate(-90deg) translate(-50%, 0%);
    -moz-transform: rotate(-90deg) translate(-50%, 0%);
    -ms-transform: rotate(-90deg) translate(-50%, 0%);
    -o-transform: rotate(-90deg) translate(-50%, 0%);
    transform: rotate(-90deg) translate(-50%, 0%);
    white-space:pre-wrap;
}
